html {
    scroll-padding-top: 100px;
  }

  #iniciar-sesion-btn {
    border: 1px solid transparent;
    border-color: #ffffff;
    transition: border-color 0.3s ease-in-out;
  }
  #iniciar-sesion-btn:hover {
    border-color: rgb(0, 255, 213);
  }
  .glitch-button {
    padding: 10px 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1e1e1ea8;
    margin-left: 40px;
  }

  .glitch-button a {
    text-decoration: none;
    color: white;
    position: relative;
    display: block;
  }

  .glitch-button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  .glitch-button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10px 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }

  .glitch-button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }

  .glitch-button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }

  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px, -10px);
    }

    10% {
      clip-path: var(--move2);
      transform: translate(-10px, 10px);
    }

    20% {
      clip-path: var(--move3);
      transform: translate(10px, 0px);
    }

    30% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
    }

    40% {
      clip-path: var(--move5);
      transform: translate(10px, -10px);
    }

    50% {
      clip-path: var(--move6);
      transform: translate(-10px, 10px);
    }

    60% {
      clip-path: var(--move1);
      transform: translate(10px, -10px);
    }

    70% {
      clip-path: var(--move3);
      transform: translate(-10px, 10px);
    }

    80% {
      clip-path: var(--move2);
      transform: translate(10px, -10px);
    }

    90% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
    }

    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }





  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    font-family: 'Inter', 'Varela Round', Arial, sans-serif;
  }

  main {
    flex: 1;
    position: relative;
    z-index: 1;
  }

  footer {
    position: relative;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }

  .navbar {
    background-color: black;
  }

  .navbar .nav-link {
    color: white;
    position: relative;
  }

  .navbar .nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #c900a7;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  .dropdown-menu {
    background-color: black !important;
    border: 1px solid #444;
  }


  .dropdown-menu .dropdown-item {
    color: white !important;
  }


  .dropdown-menu .dropdown-item:hover {
    background-color: #222 !important;
    color: white !important;
  }

  .navbar .nav-link:hover:after {
    width: 100%;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  #userDropdown {
    font-size: 16px;
    padding: 5px 10px;
    height: 41px;
    width: 100px;
    line-height: 1;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    background-color: #1e1e1ea8;
    border-color: #ffffff;
    margin-left: 40px;
  }

  #userDropdown:hover {
    border-color: rgb(0, 255, 213);
  }

  #footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

   /* Estilos para cuando el menu hamburguesa este abierto */
  @media (max-width: 991px) {
    .navbar-collapse.show {
      text-align: center;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .navbar-nav .nav-link {
      display: block;
      width: 100%;
      text-align: center;
    }
    #userDropdown {
      margin-left: 0px;
    }
  }


  @media (max-width: 409px) {
    #burguer-btn{
      width: 40%;
    }
}