{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sponsors/sponsors.css' %}">
{% endblock %}

{% block main %}
<section id="frecuentes" class="section-style text-center my-5">
    <h1>Sponsors</h1>
    <p>Agradecemos a nuestros patrocinadores por hacer posible la Liga Leyendas del Sur.
        Gracias a su apoyo, podemos ofrecer una experiencia única para jugadores y espectadores, con premios increíbles, una producción de primer nivel y la mejor competencia de esports.
        
        A continuación, te presentamos a las empresas y marcas que nos acompañan en esta edición</p>
</section>

<div id="video-banner" class="my-4">
    <img src="{% static 'images/akali.png' %}" alt="Banner placeholder" class="banner-placeholder">
    <video autoplay loop muted playsinline class="w-100">
        <source src="{% static 'videos/akali-compres.mp4' %}" type="video/mp4">
        Tu navegador no soporta videos.
    </video>
</div>

<section id="sponsors" class="section-style text-center my-5">
<a href="https://www.lanpy.com/" target="_blank">
    <img src="{% static 'images/lanpy-logo.png' %}" alt="Sponsors" class="img-fluid">
</a>

<a href="https://www.lanpy.com/" target="_blank">
    <img src="{% static 'images/utn-logo.png' %}" alt="UTN" class="img-fluid">
</a>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const videoBanner = document.getElementById('video-banner');
      const bannerPlaceholder = videoBanner.querySelector('.banner-placeholder');
      const bannerVideo = videoBanner.querySelector('video');
  
      // Cuando el video esté listo para reproducirse
      bannerVideo.addEventListener('canplay', function() {
          // Oculta la imagen de placeholder
          bannerPlaceholder.style.display = 'none';
  
          // Muestra el video
          bannerVideo.style.display = 'block';
  
          // Reproduce el video
          bannerVideo.play();
      });
  
      // Si el video ya está listo (por ejemplo, si se carga desde la caché)
      if (bannerVideo.readyState >= 3) {  // 3 = HAVE_FUTURE_DATA, 4 = HAVE_ENOUGH_DATA
          bannerPlaceholder.style.display = 'none';
          bannerVideo.style.display = 'block';
          bannerVideo.play();
      }
  
      // Carga el video (por si acaso)
      bannerVideo.load();
  });
    </script>
{% endblock %}