body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/jinx-2.png");
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: -1;
}

.section-style {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 0.375em;
    padding: 40px;
    color: rgb(255, 255, 255);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    /* 2 columnas */
    gap: 20px;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.card {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
    padding: 0px !important;
    border: 0 !important;
    cursor: pointer;
}

.card-inner {
    display: flex;
    flex-direction: column;
    border-radius: 0.375em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    flex: 1;
    padding: 20px 20px 0;
    color: white;
    box-sizing: border-box;
}

.text-content {
    padding-bottom: 10px;
}

.text h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.text p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.image {
    flex: 0 0 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
    color: white;
}

.card.active .expandable {
    max-height: 200px;
    padding: 20px;
}

.card-inner::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid gray;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.6875em;
}

.card:hover .card-inner::before {
    opacity: 1;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .container-card {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        /* 1 columna en pantallas pequeñas */
    }
}