{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/player/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block main %}

<div class="profile-container">
    <h2>Bienvenido, {{ jugador.nombre }} {{ jugador.apellido }}</h2>
    <p>Esta es tu área personal. Aquí podrás adminitstrar tu equipo para la liga Leyendas del Sur</p>

    {% if not jugador.equipo %}
    <p class="consejo">Para participar en el torneo, uno de los integrantes deberá registrar el equipo e invitar a sus compañeros. Quien realice esta acción será designado como capitán y asumirá las responsabilidades establecidas en el reglamento oficial del torneo. Si has recibido una invitación, revisa la sección 'Invitaciones Pendientes' y acéptala para unirte.</p>
    {% else %}
    <p class="consejo">Recuerda que para poder participar en el torneo, tu equipo debe ser aprobado por los administradores. Para esto, deberás realizar el pago correspondiente y enviar el comprobante de pago desde la seccion 'Editar'. Una vez enviado podrás hacer el seguimiento del estado de tu equipo en 'Estado de aprobación'.</p>
    {% endif %}

    <!-- Muestra el equipo creado -->
    {% if jugador.equipo %}
    <!-- Muestra el equipo al que pertenece el jugador -->
    <div class="team-card">
        {% if equipo %}
        <div id="tarjeta" class="card">
            <img id="img-equipo" src="{{ equipo.logo.url }}" alt="{{ equipo.nombre }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ equipo.nombre }} ({{ equipo.abreviatura }})</h5>
                <p class="card-text">
                    Estado de aprobación:
                    {{ equipo.estadoAprobacion }}
                    <span class="help-icon"
                        title="El estado de aprobación indica si tu equipo ha sido revisado y aprobado por los administradores de la liga.">?</span>
                </p>
                <div class="card-actions">
                    <a href="{% url 'editar_equipo' equipo.id %}" class="btn btn-edit"><i class="fas fa-edit"></i> Editar</a>
                    <button class="btn btn-delete" id="btn-abandonar" data-equipo-id="{{ equipo.id }}"
                        data-equipo-nombre="{{ equipo.nombre }}" onclick="mostrarModalAbandonar(this)"><i class="fas fa-sign-out-alt"></i> Abandonar</button>
                    <button class="btn btn-delete" data-equipo-id="{{ equipo.id }}"
                        data-equipo-nombre="{{ equipo.nombre }}" onclick="mostrarModalEliminar(this)"><i class="fas fa-trash-alt"></i> Eliminar</button>


                </div>

                <!-- Sección de Miembros -->
                <div class="team-members">
                    <h4>Miembros</h4>
                    {% if equipo.miembros.all %}
                    <ul class="members-list">
                        {% for jugador in equipo.miembros.all %}
                        <li>{{ jugador.nombre }} {{ jugador.apellido }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="no-members">Aún no hay miembros, invita a alguien.</p>
                    {% endif %}
                    <button class="btn-invite" onclick="mostrarModalInvitacion()">
                        <i class="fas fa-user-plus"></i> Invitar
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <p class="no-equipo">No perteneces a ningún equipo.</p>
        {% endif %}
    </div>
    {% else %}
    <!-- Botón para crear equipo -->
    <div class="create-team-section">
        <h3>Crear Equipo</h3>
        <a href="{% url 'crear_equipo' %}" class="create-team-button">
            <span class="icon">+</span>
        </a>
    </div>
    {% endif %}


    <!-- Seccion de invitaciones pendientes -->
    <div class="invitaciones-container">
        <h3>Invitaciones Pendientes</h3>
        {% if invitaciones %}

        {% if messages %}
            {% for message in messages %}
                {% if 'invitacion' in message.tags %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        <ul class="invitaciones-list">
            {% for invitacion in invitaciones %}
            <li class="invitacion-item">
                <div class="invitacion-info">
                    <p>Te han invitado a unirte al equipo <strong>{{ invitacion.equipo.nombre }}</strong>.</p>
                    <p>Invitado por: {{ invitacion.equipo.creado_por.nombre }} {{ invitacion.equipo.creado_por.apellido}}</p>
                </div>
                <div class="invitacion-actions">
                    <form method="post" action="{% url 'aceptar_invitacion' invitacion.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-aceptar">Aceptar</button>
                    </form>
                    <form method="post" action="{% url 'rechazar_invitacion' invitacion.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-rechazar">Rechazar</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-invitaciones">No tienes invitaciones pendientes.</p>
        {% endif %}
    </div>



<!-- Seccion de Modales: -->


<!-- Modal de invitación -->
<div id="modal-invitacion" class="modal">
    <div class="modal-content">
        <h3>Invitar a un Jugador</h3>
        <p>Ingresa el correo electrónico de la persona a la que deseas invitar. (Debe estar previamente registrada)</p>
        {% if equipo %}
        <form id="form-invitacion" method="post" action="{% url 'invitar_jugador' equipo.id %}">
            {% csrf_token %}
            <input type="email" id="email-invitacion" name="email" placeholder="Correo electrónico" required>
            <!-- Mensaje de error, advertencia o éxito -->
            <div id="mensaje-error" style="color: red; display: none;"></div>
            <div id="mensaje-exito" style="color: green; display: none;"></div>
            <div class="modal-actions">
                <button type="button" class="btn btn-secondary" onclick="cerrarModalInvitacion()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Enviar Invitación</button>
            </div>
        </form>
        {% else %}
        <p class="no-equipo">No tienes un equipo creado. Crea un equipo para poder invitar a otros jugadores.</p>
        {% endif %}
    </div>
</div>


<!-- Modal de confirmación de eliminación -->
<div id="modal-eliminar" class="modal">
    <div class="modal-content">
        <p>¿Estas seguro que deseas eliminar este equipo?</p>
        <form id="form-eliminar" method="post" action="">
            {% csrf_token %}
            <div class="modal-buttons">
                <button type="submit" class="btn btn-delete">Eliminar</button>
                <button type="button" class="btn btn-secondary" onclick="cerrarModalEliminar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal de confirmación de abandonar equipo -->
<div id="modal-abandonar" class="modal">
    <div class="modal-content">
        <p>¿Estas seguro que deseas abandonar este equipo?</p>
        <form id="form-abandonar" method="post" action="">
            {% csrf_token %}
            <div class="modal-buttons">
                <button type="submit" class="btn btn-delete">Abandonar</button>
                <button type="button" class="btn btn-secondary" onclick="cerrarModalAbandonar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>




<script>
    // Función para borrar los mensajes de error y éxito
    function borrarMensajes() {
        // Borra el texto de los mensajes de error y éxito
        document.getElementById('mensaje-error').textContent = '';
        document.getElementById('mensaje-exito').textContent = '';
    }


    // Función para mostrar el modal eliminar
    function mostrarModalEliminar(button) {
        const modal = document.getElementById('modal-eliminar');
        const form = document.getElementById('form-eliminar');
        const equipoId = button.dataset.equipoId;
        const equipoNombre = button.dataset.equipoNombre;

        // acción del formulario para eliminar el equipo específico
        form.action = `/player/eliminar_equipo/${equipoId}/`;

        // Mostrar el modal
        modal.style.display = 'flex';
    }

    // Función para cerrar el modal de eliminar
    function cerrarModalEliminar() {
        const modal = document.getElementById('modal-eliminar');
        modal.style.display = 'none';
    }

    // Cierra el modal eliminar si se hace clic fuera del contenido
    window.onclick = function (event) {
        const modal = document.getElementById('modal-eliminar');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };


    // Función para mostrar el modal abandonar
    function mostrarModalAbandonar(button) {
        const modal = document.getElementById('modal-abandonar');
        const form = document.getElementById('form-abandonar');
        const equipoId = button.dataset.equipoId;
        const equipoNombre = button.dataset.equipoNombre;


        // acción del formulario para abandonar el equipo específico
        form.action = `/player/abandonar_equipo/${equipoId}/`;

        // Mostrar el modal
        modal.style.display = 'flex';
    }

    // Función para cerrar el modal de abandonar
    function cerrarModalAbandonar() {
        const modal = document.getElementById('modal-abandonar');
        modal.style.display = 'none';
    }

    // Cierra el modal abandonar si se hace clic fuera del contenido
    window.onclick = function (event) {
        const modal = document.getElementById('modal-abandonar');
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };


    // Función para mostrar el modal de invitación
    function mostrarModalInvitacion() {
        const modal = document.getElementById('modal-invitacion');
        modal.style.display = 'flex';
    }

    // Función para cerrar el modal de invitación
    function cerrarModalInvitacion() {
        const modal = document.getElementById('modal-invitacion');
        modal.style.display = 'none';
        borrarMensajes();
    }





    document.getElementById('form-invitacion').addEventListener('submit', function(e) {
    e.preventDefault();
    
    const email = document.getElementById('email-invitacion').value;
    const form = this;
    
    const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

    fetch(form.action, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({
            'email': email
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            // Muestra el mensaje de error
            document.getElementById('mensaje-error').textContent = data.error;
            document.getElementById('mensaje-error').style.display = 'block';
            document.getElementById('mensaje-exito').style.display = 'none';
        } else if (data.warning) {
            // Muestra el mensaje de advertencia
            document.getElementById('mensaje-error').textContent = data.warning;
            document.getElementById('mensaje-error').style.display = 'block';
            document.getElementById('mensaje-exito').style.display = 'none';
        } else if (data.success) {
            // Muestra el mensaje de éxito
            document.getElementById('mensaje-exito').textContent = data.success;
            document.getElementById('mensaje-exito').style.display = 'block';
            document.getElementById('mensaje-error').style.display = 'none';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

</script>


    {% endblock %}