{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/player/perfil.css' %}">
{% endblock %}

{% block main %}

<div class="profile-container">
    <h2>Bienvenido a tu perfil</h2>

    <div class="profile-info">
        <h3>Datos de tu perfil</h3>
        <div class="profile-field">
            <strong>Nombre:</strong> {{ jugador.nombre }}
        </div>
        <div class="profile-field">
            <strong>Apellido:</strong> {{ jugador.apellido }}
        </div>
        <div class="profile-field">
            <strong>DNI:</strong> {{ jugador.dni }}
        </div>
        <div class="profile-field">
            <strong>Teléfono:</strong> {{ jugador.telefono }}
        </div>
        <div class="profile-field">
            <strong>País:</strong> {{ jugador.pais }}
        </div>
        <div class="profile-field">
            <strong>Legajo:</strong> {{ jugador.leagajo }}
        </div>
        <div class="profile-field">
            <strong>Riot ID:</strong> {{ jugador.riot_id }}
        </div>
        <div class="profile-field">
            <strong>Correo electrónico:</strong> {{ jugador.email }}
        </div>
    </div>
</div>

{% endblock %}