.card {
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

#legal {
    font-size: 12px;
    color: #dddddd;
}

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.containerInstagram:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

.containerDiscord:hover {
    background-color: #7289DA;
    transition-duration: .3s;
}

.containerYoutube:hover {
    background-color: #FF0000;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.emailSvg {
    fill: #D14836;
    width: 24px;
    height: 24px;
}

.containerMail:hover {
    background-color: #D14836;
    transition-duration: .3s;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.containerTwitch {
    background-color: rgb(44, 44, 44);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.containerTwitch:hover {
    background-color: #9146FF;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.containerTiktok:hover {
    background-color: #FE2C55;
    transition-duration: .3s;
}

.tiktokSvg {
    width: 16px;
    height: 16px;
    fill: white;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}