{% extends 'base.html' %}

{% load static %}

{% block main %}

<section id="frecuentes" class="section-style text-center my-5">
    <h1>Preguntas Frecuentes</h1>
    <p>A continuación, te presentamos algunas preguntas frecuentes que podrías tener sobre la Liga Leyendas del Sur.</p>
</section>

<div id="video-banner" class="my-4">
    <video autoplay loop muted playsinline class="w-100">
        <source src="{% static 'videos/jinx-2-compres.mp4' %}" type="video/mp4">
        Tu navegador no soporta videos.
    </video>
</div>

<div class="container-card">
    <div class="card">
        <div class="card-inner">
            <div class="content">
                <div class="text">
                    <div class="text-content">
                        <h3>¿Cómo puedo inscribirme?</h3>
                        <p>Información sobre el proceso de inscripción a la Liga Leyendas del Sur.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{% static 'images/yasuo.png' %}" alt="Juego 1">
                </div>
            </div>
            <div class="expandable">
                <p>Para inscribirte, debes registrarte en nuestro sitio web y completar el formulario de inscripción. Una vez registrado, podrás unirte a un equipo o crear uno nuevo.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="content">
                <div class="text">
                    <div class="text-content">
                        <h3>¿Cuáles son las reglas del torneo?</h3>
                        <p>Explicación detallada sobre las reglas del torneo.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{% static 'images/card2.png' %}" alt="Juego 2">
                </div>
            </div>
            <div class="expandable">
                <p>Las reglas del torneo incluyen: respeto entre jugadores, prohibición de hacks o trampas, y cumplimiento de los horarios establecidos. Consulta el <a href="{% url 'reglamento' %}">Reglamento</a> para más detalles.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="content">
                <div class="text">
                    <div class="text-content">
                        <h3>¿Cuál será el premio?</h3>
                        <p>Información sobre el premio para el equipo ganador del torneo.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{% static 'images/ezreal.jpg' %}" alt="Juego 3">
                </div>
            </div>
            <div class="expandable">
                <p>Se otorgará un premio en dinero al equipo ganador.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="content">
                <div class="text">
                    <div class="text-content">
                        <h3>¿Cómo se estructurará el torneo?</h3>
                        <p>Detalles sobre el formato de la competencia.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{% static 'images/card1.png' %}" alt="Juego 4">
                </div>
            </div>
            <div class="expandable">
                <p>El torneo se jugará en un formato de eliminación directa con partidas al mejor de uno (Bo1). Luego en las semifinales y en la final, se pasara a jugar al mejor de tres (Bo3). Para ver el <a href="{% url 'reglamento' %}"> Reglamento</a> completo.</p>
            </div>
        </div>
    </div>
</div>

<style>
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("{% static 'images/jinx-2.png' %}");
        background-size: cover;
        background-position: center;
        filter: blur(30px);
        z-index: -1;
    }

    .section-style {
        background-color: rgba(0, 0, 0, 0.18);
        border-radius: 0.375em;
        padding: 40px;
        color: rgb(255, 255, 255);
    }

    .container-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr)); /* 2 columnas */
        gap: 20px;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }

    .card {
        display: block;
        text-decoration: none;
        transition: transform 0.3s ease;
        padding: 0px !important;
        border: 0 !important;
        cursor: pointer;
    }

    .card-inner {
        display: flex;
        flex-direction: column;
        border-radius: 0.375em;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
    }

    
    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .text {
        flex: 1;
        padding: 20px 20px 0;
        color: white;
        box-sizing: border-box;
    }

    .text-content {
        padding-bottom: 10px;
    }

    .text h3 {
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .text p {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
    }

    .image {
        flex: 0 0 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .expandable {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 20px;
        color: white;
    }

    .card.active .expandable {
        max-height: 200px;
        padding: 20px;
    }

    .card-inner::before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 2px solid gray;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 0.6875em;
    }

    .card:hover .card-inner::before {
        opacity: 1;
    }

    .card:hover {
        transform: scale(1.05);
    }

    @media (max-width: 768px) {
        .container-card {
            grid-template-columns: repeat(1, minmax(300px, 1fr)); /* 1 columna en pantallas pequeñas */
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            card.addEventListener('click', function () {
                card.classList.toggle('active');
            });
        });
    });
</script>

{% endblock %}