{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block main %}
<section id="inicio" class="section-style text-center my-5">
    <div class="column-left">
        <div class="text-container">
            <h1 id="titulo">¡Bienvenidos a la Liga Leyendas del Sur!</h1>
            <p id="subtitulo">Prepárate para un evento épico de League of Legends organizado por la UTN FRLP</p>
        </div>
    </div>
    <div class="column-right"></div>
</section>

<div id="video-banner" class="my-4">
    <video autoplay loop muted playsinline class="w-100">
        <source src="{% static 'videos/jinx-1-compres.mp4' %}" type="video/mp4">
        Tu navegador no soporta videos.
    </video>
</div>

<section id="quienes-somos" class="section-style text-center my-5">
    <h2>¿Quiénes somos?</h2>
    <p>Somos el equipo organizador del Torneo esport, Liga de Leyendas del Sur, de la UTN FRLP. Nuestro objetivo principal es promover el mundo
        de los esports dentro de nuestra universidad, ofreciendo un espacio para que los jugadores puedan competir,
        divertirse y crecer en el ámbito competitivo.

        Este evento busca ser una plataforma para todos los niveles de jugadores, desde los más principiantes
        hasta los más experimentados. Además de fomentar la competencia sana, queremos brindar una experiencia única,
        divertida y emocionante para todos los participantes.

        ¡Únete al torneo y forma parte de este gran evento!</p>
</section>

<section id="inscripcion" class="section-style text-center my-5">
    <h2>¡Inscríbete ahora para participar en el torneo de LoL!</h2>
    <br>
    <button onclick="window.location.href='/register/'">
        INSCRIBIRSE
        <div id="inscribirse-btn">
            <div id="leftTop" class="corner"></div>
            <div id="rightBottom" class="corner"></div>
            <div id="rightTop" class="corner"></div>
            <div id="leftBottom" class="corner"></div>
        </div>
        <span id="rightArrow" class="arrow"></span>
        <span id="leftArrow" class="arrow"></span>
    </button>
    <p id="aviso-legal">
        La Liga Leyendas del Sur se creó conforme a la política <a href="https://www.riotgames.com/en/legal" target="_blank" style="color: #ccc;">"Legal Jibber Jabber"</a> de Riot Games, utilizando recursos propiedad de Riot Games. Esta competencia no está afiliada ni patrocinada por Riot Games.
      </p>

</section>

<section id="twitch" class="section-style text-center my-5">
    <h2>Disfruta de nuestros clips en Twitch:</h2>
    <div class="carousel">
        <div class="carousel-container">
            {% for clip in twitch_clips %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="iframe-container">
                        <iframe src="{{ clip.get_embed_url }}" allowfullscreen></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-button prev" onclick="prevSlide()">❮</button>
        <button class="carousel-button next" onclick="nextSlide()">❯</button>
    </div>
</section>



<script>
let currentSlide = 0;

function showSlide(index) {
    const items = document.querySelectorAll('.carousel-item');
    const iframes = document.querySelectorAll('.iframe-container iframe');

    if (index >= items.length) {
        currentSlide = 0;
    } else if (index < 0) {
        currentSlide = items.length - 1;
    } else {
        currentSlide = index;
    }

    items.forEach((item, i) => {
        item.classList.remove('active');
        if (i === currentSlide) {
            item.classList.add('active');
        }
    });

    iframes.forEach((iframe, i) => {
        if (i === currentSlide) {
            iframe.style.display = 'block';
        } else {
            iframe.style.display = 'none';
        }
    });

    adjustCarouselHeight();
}

function adjustCarouselHeight() {
    const activeIframe = document.querySelector('.carousel-item.active iframe');
    if (activeIframe) {
        const carousel = document.querySelector('.carousel');
        const aspectRatio = 9 / 16; // Relación de aspecto 16:9
        const width = carousel.offsetWidth;
        const height = width * aspectRatio;
        carousel.style.height = `${height}px`;
    }
}

function nextSlide() {
    showSlide(currentSlide + 1);
}

function prevSlide() {
    showSlide(currentSlide - 1);
}

window.addEventListener('resize', adjustCarouselHeight);

showSlide(currentSlide); // Inicializa el primer slide
adjustCarouselHeight(); // Ajusta la altura inicial del carrusel


</script>

{% endblock %}